*{
  margin:0;
  padding:0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around ;
  align-content: center;
}
.card-container {
  width: 20vw;
  height: 20vh;
  border: solid black 1px;
  text-align: center;

}
.title {
  text-transform: uppercase;
}
.message {
  color:#ffffff;
  background-color: rgb(55, 151, 42);
}
.err-message {
  color:#ffffff;
  background-color: rgb(253, 30, 30);
}
.err {
  color:rgb(253, 30, 30);
}